{
  "presets": [
    "@babel/preset-env",
    [
      "minify",
      {
        "keepFnName": true,
        "keepClassName": true
      }
    ]
  ],
  "plugins": ["@babel/plugin-proposal-class-properties"]
}
