html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #212121;
}
div {
  display: flex;
  height: 100%;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
button {
  width: 350px;
  height: 80px;
  background-color: #212121;
  border: 10px solid #f44336;
  outline: none;
  cursor: pointer;
  margin: 10px 0;
  color: #f44336;
  font-size: 40px;
}
#number {
  width: 350px;
  height: 30px;
  text-align: center;
  font-size: 25px;
  outline: none;
}

#result {
  width: 350px;
  font-size: 20px;
  text-align: right;
}
